html, body {
    min-width: 1200px;
    margin: 0;
    padding: 0;

    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    color: #283136; 
    font-weight: normal;
    line-height: 24px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    display: none;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.site-navigation,
.features-list,
.services-list,
.about-us-services-list,
.about-us-features-list,
.partners-list,
.footer-social-list,
.sorting-list,
.catalog-list,
.pagination-list {
    list-style: none;
    margin: 0;
    padding: 0; 
}

.btn {
    display: block;
    font-size: 16px;
    color: #ffffff; 
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    border: none;
    border-radius: 2px;
    padding: 16px 0;
}

.btn:active {
    color: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
            box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}

.page-header {              /*Стили хедера*/
    margin: 0;
    padding: 0;
    padding-top: 48px;
    background-color: #eeeeee;
}

.container {
    width: 1160px;
    padding: 0 20px 0 20px;
    margin: 0 auto;
}

.main-navigation {          
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.main-header-logo {
    margin: 0;
    padding: 0;
    width: 300px;
}

.site-navigation {
    margin: 0;
    margin-top: 27px;
    margin-left: 106px;    
    padding: 0;
    width: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.site-navigation li {
    margin-right: 46px;
}

.site-navigation a,
.user-navigation a {
    color: #000000;
    display: block;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.user-navigation {
    margin: 27px 0 0 0;
}

.user-navigation a {
    padding-left: 44px;
    position: relative;
}

.user-navigation a::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url("../img/icons-svg/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 6px;
    left: 4px;
}

a.page-current {
    color: #000000;
    padding-bottom: 2px;
    border-bottom: 2px solid #fb565a;
}

.page-title {           /*Стили основного содержимого*/     
    font-size: 55px;
    color: #000000; 
    background-color: #eeeeee;
    font-weight: 500;
    line-height: 55px;
    text-align: center;
    margin: 0;
    padding-top: 70px;
    padding-bottom: 108px;
}

.features {
    background-color: #eeeeee;
}

.features-list {                                         /*Стили слайдера главной страницы (раздел features) */
    margin: 0;
    padding: 0;
    position: relative;
}

.features-item {
    display: none;
    padding-top: 75px;
    position: relative;
    padding-bottom: 80px;
    padding-right: 760px;  /*Сюда вставим фоновую картинку*/
}

.features-item-1 {
    display: block;
}

.features-item-1::after {
    content: "";
    position: absolute;
    width: 760px;
    height: 430px;
    top: 10px;
    right: -30px;
    background-image: url("../img/slide1.png");
    background-repeat: no-repeat;
}

.features-item h3 {
    font-size: 55px;
    color: #000000; 
    font-weight: 500;
    line-height: 55px;
    margin: 0;
    margin-top: -5px;
    margin-bottom: 25px;
    width: 520px;
}

.features-item p {
    margin: 0;
    margin-bottom: 40px;
    width: 420px;
}

.features-item .btn {
    width: 240px;
}

.slider-control {
    position: absolute;
    bottom: 86px;
    left: 540px;
    width: 80px;
}

.slider-control span {
    display: inline-block;
    width:4px;
    height:4px;
    margin:0 24px 0 0;
    padding: 0;
    background:white;
    border:2px solid white;
    vertical-align:top;
    border-radius:50%;
    cursor:pointer;
    -webkit-box-shadow: 0 0 0 5px #ffffff;
            box-shadow: 0 0 0 5px #ffffff;
}

.slider-control span:last-child {
    margin-right: 0;
}

span.slide-control-current {
    border:2px solid #c1c1c1;
}

.services {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 60px;
    border-bottom: 2px solid #eeeeee;
}

.services-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.services-item {
    width: 300px;
    padding-top: 144px;
    position: relative;
}

.services-item-web::before {
    position: absolute;
    width: 300px;
    height: 146px;
    top: 0;
    left: 0;
    content: "";
    background-image: url("../img/illustration-1.png");
}

.services-item-app::before {
    position: absolute;
    width: 300px;
    height: 146px;
    top: 0;
    left: 0;
    content: "";
    background-image: url("../img/illustration-2.png");
}

.services-item-presentation::before {
    position: absolute;
    width: 300px;
    height: 146px;
    top: 0;
    left: 0;
    content: "";
    background-image: url("../img/illustration-3.png");
}

.services-item h3 {
    font-size: 24px;
    color: #000000; ;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    margin: 24px 0 17px 0;
}

.services-item p {
    width: 245px;
    margin-left: 0;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 32px;
}

.services-item .btn {
    width: 160px;
}

.btn-red {
    background-color: #fb565a;
}

.btn-red:hover,
.btn-red:focus {
    background-color: #e74246; 
}

.btn-green {
    background-color: #00ca74;
}

.btn-green:hover,
.btn-green:focus {
    background-color: #00bc6c;
}

.btn-yellow {
    background-color: #efc84a;
}

.btn-yellow:hover,
.btn-yellow:focus {
    background-color: #eab534;
}

.about-us {                                                       /*Стили раздела about-us*/
    padding-top: 73px;
    padding-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 2px solid #eeeeee;
}

.about-us-left {
    width: 660px;
}

.about-us-left b {
    font-size: 45px;
    color: #000000; 
    font-weight: 500;
    line-height: 45px;
}

.about-us-left p {
    margin: 34px auto;
}

p.about-us-subtitle {
    font-size: 16px;
    color: #000000; 
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 38px;
    margin-bottom: 26px;
    margin-right: 14px;
    -ms-flex-item-align: end;
        align-self: flex-end;
}

.about-us-services-item {
    margin-bottom: 24px;
    padding-left: 36px; /*Место под декоративный элемент*/
    position: relative;
}

.about-us-services-item::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
    top: 11px;
    left: 1px;
}

.about-us-right {
    width: 360px;
    padding-top: 172px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.about-us-right::before {
    position: absolute;
    width: 360px;
    height: 208px;
    top: -34px;
    left: 0;
    content: "";
    background-image: url("../img/index-logo.png");
}

.about-us-features-list {
    text-align: center;
    margin-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.about-us-features-item {
    width: 120px;
}

.about-us-features-item p {
    line-height: 18px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 22px; 
    margin-right: 40px;
}

.about-us-features-item b {
    font-size: 45px;
    color: #000000; 
    font-weight: 700;
    line-height: 10px;
}

.partners {                                                    /*Стили раздела parters*/
    margin-bottom: 80px;
    border-bottom: 2px solid #eeeeee;
}

.partners-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 46px;
    padding-bottom: 34px;
    padding-left:  0px;
    padding-right: 0px;
}

.partners-item {
    width: 260px;
    padding-left: 20px;
    padding-right: 20px; /*Общая ширина для каждого блока партнера 300рх. Но для крайних блоков нужно переопределить на 280рх*/
    text-align: center;
}

.partners-item:nth-child(4n) {
    padding-right: 0;
    margin-bottom: 0;
}

.partners-item:first-child,
.partners-item:nth-child(4n+1) {
    padding-left: 0;
}

.partners-item a {
    opacity: 0.2;
}

.partners-item a:hover {
    opacity: 1;
}

img[alt="Логотип HTML Academy"] {
    padding-top: 16px;
}

img[alt="Логотип компании Пинк"] {
    padding-top: 20px;
}

img[alt="Логотип компании Мишка"] {
    padding-top: 10px;
}

.footer-map {
margin-bottom: 60px;
}

.footer-map iframe {
    height: 415px;
    width: 100%;
    position: absolute;
    border: 0;
    z-index: -1;
}

.footer-map .container {
    padding-top: 1px;
    margin-top: -1px;
}

.footer-contacts {
    width: 220px;
    margin: 0;
    margin-top: 50px;
    padding: 50px;
    background-color: #ffffff;
}

.footer-contacts span {             /*Стили футера*/
    font-size: 18px;
    color: #000000; ;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.footer-contacts p {
    line-height: 18px;
    margin-top: 20px; 
}

.main-footer-btn {
    margin-top: 34px;
    padding-left: 44px;
    padding-right: 44px;
}

.footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-social-list {
    min-width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.social-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #e1e1e1;
    margin-right: 10px;
}

.social-btn:hover,
.social-btn:focus {
    background-color: #e74246;
}

.social-btn:active {
    -webkit-box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
            box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
    background-color: #e74246;
}

.social-btn:active path {
    opacity: 0.3;
}

.footer-bottom p {
    width: 550px;
    line-height: 32px;
}

.footer-bottom b {
    font-size: 36px;
    color: #000000; 
    font-weight: 700;
    line-height: 36px;
}

.main-wrapper {                                                  /*Стили страницы каталога */
    margin-top: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.filter {
    width:260px;
}

.filter-form fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.filter-form legend {
    font-size: 18px;
    color: #000000; 
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.filter-form label {
    font: inherit;
    line-height: 20px;
}

.range-filter {
  width: 260px;
  margin-top: 46px;
  margin-left: 0;
  margin-bottom: 56px;
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  width: 50%;
}

.max-price {
  text-align: right;
}

.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

fieldset.filter-grid {
    margin-bottom: 26px;
}



.filter-grid-radio {
    color: #283136;
    display: block;
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
    padding-left: 35px;
}

.filter-grid-radio:hover {
    color: #000000;
}

.filter-grid-radio::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url("../img/icons-svg/radio-off.svg");
    top:0;
    left:0;
    opacity: 0.4;
}

.filter-grid-radio::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url("../img/icons-svg/radio-on.svg");
    top:0;
    left:0;
    display: none;
    opacity: 0.4;
}

input[type="radio"]:checked + .filter-grid-radio::after {
    display: block;
}

input[type="radio"]:checked + .filter-grid-radio::before {
    display: none;
}

input[type="radio"]:disabled + .filter-grid-radio::after,
input[type="radio"]:disabled + .filter-grid-radio::before {
    opacity: 0.1;
}

.filter-grid-radio:hover::after,
.filter-grid-radio:hover::before,
.filter-grid-radio:focus::after,
.filter-grid-radio:focus::before {
    opacity: 1;
}

fieldset.filter-features {
    margin-bottom: 30px;
}

.filter-features legend,
.filter-grid legend {
    margin-bottom: 16px;
}

.filter-features-checkbox {
    display: block;
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
    color: #283136;
    padding-left: 35px;
}

.filter-features-checkbox:hover {
    color: #283136;
}

input[type="checkbox"]:disabled + .filter-features-checkbox {
    opacity: 0.3;
}

.filter-features-checkbox::before {
    content: "";
    position: absolute;
    width: 27px;
    height: 23px;
    background-image: url("../img/icons-svg/checkbox-off.svg");
    background-repeat: no-repeat;
    top:0;
    left:0;
    opacity: 0.4;
}

.filter-features-checkbox::after {
    content: "";
    position: absolute;
    width: 27px;
    height: 23px;
    background-image: url("../img/icons-svg/checkbox-on.svg");
    background-repeat: no-repeat;
    top:0;
    left:0;
    opacity: 0.4;
    display: none;
}

input[type="checkbox"]:checked + .filter-features-checkbox::before {
    display: none;
}

input[type="checkbox"]:checked + .filter-features-checkbox::after {
    display: block;
}

input[type="checkbox"]:disabled + .filter-features-checkbox::before,
input[type="checkbox"]:disabled + .filter-features-checkbox::after {
    opacity: 0.1;
}

.filter-features-checkbox:hover::before,
.filter-features-checkbox:hover::after,
.filter-features-checkbox:focus::before,
.filter-features-checkbox:focus::after {
    opacity: 1;
}

.filter-btn {
    font-size: 16px;
    color: #000000; 
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    width: 260px;
    height: 50px;
    border-radius: 2px;
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: #dfdfdf;
    cursor: pointer;
}

.main-content {
    width: 760px;
    margin-left: 140px;
}

.sorting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.sorting > p:first-child {
    margin: 0;
}

.sorting b {
    font-size: 18px;
    color: #000000; 
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
}

.sorting-list {
    width: 360px;
    margin-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.sorting-item a {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.3); 
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
}

.sorting-item a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.sorting-item a:active {
    color: rgba(0, 0, 0, 1);
}

.sorting-arrows {
    margin-left: 2px;
}
.arrow-down,
.arrow-up {
    margin-left: 15px;
}

.arrow-down path,
.arrow-up path {
    opacity: 0.2;
}

.arrow-down:hover path,
.arrow-up:hover path,
.arrow-down:hover path,
.arrow-up:hover path {
    opacity: 0.5;
}

.arrow-down:active path,
.arrow-up:active path,
.active path {
    opacity: 1;
}

.catalog-list {
    margin-top: 52px;
    padding-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.catalog-item {
    position: relative;
    width: 360px;
    padding-top: 0px; 
    padding-bottom: 0px;
    margin-bottom: 33px;
}

.catalog-item:hover .catalog-item-info {
    display: block;
}

.catalog-item:hover .catalog-item-picture {
    cursor: pointer;
    background: #4d4d4d;
}

.catalog-item-info {
    background-color: #eeeeee;
    width: 360px;
    height: 230px;
    text-align: center;
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 26px 80px 45px 80px;
    box-sizing: border-box;
    z-index: 100;

}

.catalog-item-info h3 {
    font-size: 18px;
    color: #000000; 
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.catalog-item-info p {
    text-align: center;
    font-size: 16px;
    color: #666666;
    line-height: 18px;
    margin: 16px 0 28px 0;
}

.catalog-item-info .btn {
    background-color: #fb565a;
}

.catalog-item-info .btn:hover,
.catalog-item-info .btn:focus {
    background-color: #e74246;
}

.catalog-item-info .btn:active {
    background-color: #d7373b;
    -webkit-box-shadow: inset 0 3px 7px rgba(215, 55, 59, 0.35);
            box-shadow: inset 0 3px 7px rgba(215, 55, 59, 0.35);
}

.catalog-item-picture {
    background-color: #e9e9e9;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    padding-top: 40px;
}

.catalog-item-picture::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #ffffff;
    left: 16px;
    top: 15px;
    -webkit-box-shadow: 
    23px 0 0 0 #ffffff,
    46px 0 0 0 #ffffff;
            box-shadow: 
    23px 0 0 0 #ffffff,
    46px 0 0 0 #ffffff;
}

.catalog-item-picture img {
    display: block;
}

.pagination-list {
    margin-top: 26px;
    margin-bottom: 62px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.pagination-item {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-color: #eeeeee;
    text-align: center;
}

.pagination-item-current {
    background-color: #ffffff;
    -webkit-box-shadow: inset 0 0 0 3px #dbdbdb;
            box-shadow: inset 0 0 0 3px #dbdbdb;
}

.pagination-item:last-child {
    width: 260px;
}

.pagination-item a {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: #000000; 
    font-weight: 500;
    line-height: 50px;
    text-transform: uppercase;
}

.modal-write-us {
    display: none;
    position: fixed;
    width: 760px;
    top: 50%;
    left: 50%;
    margin-left: -480px;
    margin-top: -295px;
    padding: 100px 100px 84px;
    background-color: #ffffff;
    box-shadow: 20px 20px 40px 0 rgba(44, 44, 44, 0.75);
}

.modal-write-us h2 {           
    font-size: 45px;
    color: #000000; 
    font-weight: 500;
    line-height: 45px;
    margin: 0;
    margin-bottom: 24px;
}

.write-us-form p {
    display: inline-block;
    width: 358px;
    margin-bottom: 32px;
    margin-right: 40px;
    padding: 0;
}

.write-us-form p:nth-child(2n) {
    margin-right: 0px;
}

.write-us-form label {
    font-size: 16px;
    color: #000000; 
    font-weight: 700;
    line-height: 18px;
    display: inline-block;
    margin-bottom: 8px;
}

.write-us-form input,
.write-us-form textarea {
    font: inherit;
    color: #000000;
    opacity: 0.5;
    border: 2px solid #d7dcde;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 10px 12px;
}

.write-us-form input {
    width: 100%;
}

.write-us-form textarea {
    width: 760px;
    margin-bottom: 40px;
}

.write-us-form input:hover,
.write-us-form textarea:hover {
    border: 2px solid #b4b9bb;
    border-radius: 2px;
}

.write-us-form input:focus,
.write-us-form textarea:focus {
    border: 2px solid #000000;
    border-radius: 2px;
}

.write-us-form .btn-red {
    width: 260px;
}

.modal-close {
    border: none;
    background: none;
    background-image: url("../img/icons-svg/close-cross1.svg");
    width: 21px;
    height: 21px;
    position: absolute;
    top: 112px;
    left: 848px;
}

.modal-close:hover,
.modal-close:focus {
    background-image: url("../img/icons-svg/close-cross.svg");
}

.modal-close:active {
    background-image: url("../img/icons-svg/close-cross2.svg");
}