html, body {
	margin: 0;
	padding: 0;

	font-family: 'Roboto', Arial, sans-serif ;
	font-size: 16px;
	color: #283136; ;
	font-weight: normal;
	line-height: 24px;
}

a {
	text-decoration: none;
}

.page-title {
	font-size: 55px;
	color: #000000; ;
	font-weight: 500;
	line-height: 55px;
	text-align: center;
	background-color: #eeeeee;
}

.btn {
	font-size: 16px;
	color: #ffffff; ;
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	border: none;
	border-radius: 2px;
}

.btn:active {
	color: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}

.btn-red {
	background-color: #fb565a;
}

.btn-red:hover,
.btn-red:focus {
	background-color: #e74246; 
}


.btn-green {
	background-color: #00ca74;
}

.btn-green:hover,
.btn-green:focus {
	background-color: #00bc6c;
}

.btn-yellow {
	background-color: #efc84a;
}

.btn-yellow:hover,
.btn-yellow:focus {
	background-color: #eab534;
}

.page-header, {
	background-color: #eeeeee;
}

.main-navigation {
	font-size: 16px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.site-navigation,
.features-list,
.services-list,
.about-us-services-list,
.about-us-features-list,
.partners-list,
.footer-social-list,
.sorting-list,
.catalog-list,
.pagination-list {
	list-style: none;
}

.site-navigation a {
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #fb565a;

}

.site-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

a.page-current {
	color: #000000;
	padding-bottom: 5px;
	border-bottom: 2px solid #fb565a;
}

.features {
	background-color: #eeeeee;

.features-item h3 {
	font-size: 55px;
	color: #000000; ;
	font-weight: 500;
	line-height: 55px;
}

.features-item a {
	color: #ffffff;
	background-color: #fb565a;
	padding: 20px 50px;
}

.features-item a:hover,
.features-item a:focus {
	background-color: #e74246; 
}

.features-item a:active {
	background-color: #d7373b;
	opacity: 0.3;
}

.services-item h3 {
	font-size: 24px;
	color: #000000; ;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
}

.services-item {
	position: relative;
	padding-top: 146px;
}

.services-item::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 146px;
	content: "";
	background: url("../img/illustration-1.png");
	
} 

.about-us-left b {
	font-size: 45px;
	color: #000000; ;
	font-weight: 500;
	line-height: 45px;
}

.about-us-subtitle {
	font-size: 16px;
	color: #000000; ;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
}

.about-us-features-list {
	text-align: center;
}

.about-us-features-list b {
	font-size: 45px;
	color: #000000; ;
	font-weight: 700;
	line-height: 10px;
}

.partners-list a {
	opacity: 0.2;
}

.partners-list a:hover {
	opacity: 1;
}

.partners-list {
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
}

.footer-contacts span {
	font-size: 18px;
	color: #000000; ;
	font-weight: 700;
	line-height: 36px;
	text-transform: uppercase;
}

.footer-bottom b {
	font-size: 36px;
	color: #000000; ;
	font-weight: 700;
	line-height: 36px;
}

.modal-write-us h2 {
	font-size: 45px;
	color: #000000; ;
	font-weight: 500;
	line-height: 45px;
}

.write-us-form label {
	font-size: 16px;
	color: #000000; ;
	font-weight: 700;
	line-height: 18px;
}

.write-us-form input,
.write-us-form textarea {
	border: 2px solid #d7dcde;
	border-radius: 2px;
}

.write-us-form input:hover,
.write-us-form textarea:hover {
	border: 2px solid #b4b9bb;
	border-radius: 2px;
}

.write-us-form input:focus,
.write-us-form textarea:focus {
	border: 2px solid #000000;
	border-radius: 2px;
}

.filter legend {
	font-size: 18px;
	color: #000000; ;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 0.01em;
	text-transform: uppercase;
}

.filter label {
	font: inherit;
	line-height: 20px;
}

.filter .filter-btn {
	font-size: 16px;
	color: #000000; ;
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
	width: 260px;
	height: 50px;
	border-radius: 2px;
}

.sorting b {
	font-size: 18px;
	color: #000000; ;
	font-weight: 700;
	line-height: 18px;
	text-transform: uppercase;
}

.sorting-item a {
	font-size: 14px;
	color: rgba(0, 0, 0, 0.3); 
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
}

.sorting-item a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.sorting-item a:active {
	color: rgba(0, 0, 0, 1);
}

.catalog-item-info {
	background-color: #eeeeee;
	width: 360px;
	height: 230px;
	text-align: center;
}

.catalog-item-info h3 {
	font-size: 18px;
	color: #000000; 
	font-weight: 700;
	line-height: 30px;
	text-align: center;
	text-transform: uppercase;
}

.catalog-item-info p {
	text-align: center;
	font-size: 16px;
	color: #666666;
	line-height: 18px;
}

.catalog-item-info a {
	background-color: #fb565a;
}

.catalog-item-info a:hover,
.catalog-item-info a:focus {
	background-color: #e74246;
}

.catalog-item-info a:active {
	background-color: #d7373b;
	box-shadow: inset 0 3px 7px rgba(215, 55, 59, 0.35);
}

.pagination-item a {
	font-size: 16px;
	color: #000000; ;
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
	background-color: #eeeeee;
}

.pagination-item-current a {
	background-color: #ffffff;
	border: 3px solid #dbdbdb;
}

.lower-row {
	color: #283136; ;
	line-height: 18px;
}